[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] är försenad [%- newline | html -%]Ditt exemplar av [% title | html %] (streckkod [% barcode | html %]) är försenat [%- ELSE -%] [% title | html %] skall återlämnas senast [%- newline | html -%]Ditt exemplar av [% title | html %] (streckkod [% barcode | html %]) skall återlämnas idag [%- END -%] 