[%# This template is called only for a very simple error message %]
<html>
<body id="opac-retrieve-file" class="scrollto">
 <h1>Sökning misslyckades</h1>
 Din sökning [% IF hash %]for [% hash | html %][% END %] gav inga träffar. </body>
</html>
