[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] on myöhässä [%- newline | html -%]Lainasi [% title | html %] (viivakoodi [% barcode | html %]) on myöhässä [%- ELSE -%] [% title | html %] erääntyy [%- newline | html -%]Lainasi [% title | html %] (viivakoodi [% barcode | html %]) eräpäivä on tänään [%- END -%] 