[%# This template is called only for a very simple error message %]
<html>
<body id="opac-retrieve-file" class="scrollto">
 <h1>Haku epäonnistui</h1>
 Hakusi [% IF hash %] tästä [% hash | html %][% END %] epäonnistui </body>
</html>
